<div class="bookmark">
  <span class="glyphicon glyphicon-bookmark"></span>
</div>
<li class="entry">
  <div class="entry-title">
    <%= entry.escape("title") %>
  </div>
  <!-- <div class="entry-summary">
    <%= entry.escape("summary") %>
  </div> -->
</li>