<!-- <div class="bookmark">
  <span class="glyphicon glyphicon-bookmark"></span>
</div> -->
<div class="entry-item-wrapper">
  <div class="bookmark" title="Bookmark this page.">
    <span class="glyphicon glyphicon-bookmark"></span>
  </div>
  <a href="<%= entry.url %>" target="_blank">
    <div class="entry-wrapper">
      <!-- <div class="bookmark">
        <span class="glyphicon glyphicon-bookmark"></span>
      </div> -->
      <div class="entry">
        <div class="entry-title">
          <%= entry.title %>
        </div>
      </div>
    </div>
  </a>
  <div class="summary-wrapper">
    <div class="summary">
      <div class="summary-title">
        <strong><%= entry.title %></strong>
      </div>
      <div class="summary-description">
        <%= entry.summary %>
      </div>
    </div>
  </div>
</div>