// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: black;
}

#content {
  //clear: both;
  display: block;
  margin: 0 auto;
}

.container {
  margin-bottom: 300px;
}

#entries {
  overflow: hidden;
  margin-left: -20px;
  border-left: 1px solid #049BD1;
  //border-bottom: 1px solid #5a5a5a;
  padding-top: 50px;
}

#entries ul {
  list-style-type: none;
}

#entries a {
  color: #FFFFFF;
}

.entry-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color:rgba(0,0,0,0.40);
}

.entry-wrapper:hover {
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: rgba(0,0,0,0.05);
  //transition: color 0.5s ease;
  color: rgba(0,0,0,0.0);
}

.entry-item-wrapper .summary {
  position: relative;
  background-color: #151515;
  opacity: 0;
  display: block;
  border-top: 1px solid #049BD1;
  border-bottom: 1px solid #036081;
  border-left: 1px solid #036081;
  border-right: 1px solid #036081;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-right: -1px;
  margin-left: -1px;
}

.entry-item-wrapper:hover .summary {
  transition: opacity 0.5s ease-out;
  opacity: 1;
  top: 299px;
  float: both;
  z-index: 1;
  height: auto;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
}

.summary-title {
  color: #c4c4c4;
  font-size: 14px;
}

.summary-description {
  color: #AAAAAA;
  font-weight: 300;
  font-size: 14px;
}

.entry-title {
  margin-top: 8px;
  margin-left: 6px;
  font-size: 18px;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 0.005em;
  width: 60%;
  padding: 5px;
}

.entry-item {
  padding-left: 0px;
  padding-right: 0px;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  height: 280px;
  width: 280px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 200;
  
  border-bottom: 1px solid #049BD1;
  border-right: 1px solid #049BD1;
  
  list-style-type: none;
}

.bookmark {
  float: right;
}

span.glyphicon-bookmark {
  color: #0ABAFA;
  font-size: 2em;
  margin-right: -1px;
  margin-top: -0.5px;
  text-shadow: 0px 0 #0485b4, 0 3px #0485b4, 0px 0 #0485b4, 0 3px #0485b4;
}

span.glyphicon-bookmark:hover {
  color: #0a92fa;
  text-shadow: 0px 0 #036082, 0 3px #036082, 0px 0 #036082, 0 3px #036082;
}

.entry-item {}


.entry-summary {
  letter-spacing: 0.4px;
}

