// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#entries {
  overflow: hidden;
}

#entries > ul {
  list-style-type: none;
}

.entry {
  
}

body {
  background-color: #1A1919;
}

.entry-title {
  margin-top: 10px;
  margin-left: -6px;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0.005em;
  width: 50%;
  background-color:rgba(0,0,0,0.2);
  //border-radius: 2px;
  padding: 5px;
}

.entry-summary {
//  height: 30%;
//  width: 80%;
  position: absolute;
  bottom: 0;
  background-color:rgba(0,0,0,0.22);
  font-size: 14px;
  padding: 5px;
  padding-top: 0px;
  //border-radius: 2px;
  margin-left: -6px;
  margin-right: 9px;
  margin-bottom: 9px;
}

.entry-item {
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 230px;
  width: 300px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 200;
//  text-shadow: 0 0 9em black;
  border: 0.5px solid #FFFFFF;
}

.entry-item:hover li div {
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  color: rgba(0,0,0,0.0);
  background-color: rgba(0,0,0,0.0);
}

.bookmark {
  float: right;
}

span.glyphicon-bookmark {
  color: #eb4109;
  font-size: 2em;
  margin-right: -1px;
  margin-top: -1px;
}

span.glyphicon-bookmark:hover {
  color: #ff7243;
}

.entry-item {}


.entry-summary {
  letter-spacing: 0.4px;
}

