#left-navigation {
  font-family: 'Roboto';
  color: rgba(0, 0, 0, 0);
  float: left;
  overflow: hidden;
  position: fixed;
  background-color: #252525;
  transition: width 0.5s ease, color 0.2s ease;
  width: 40px;
  top: 51px;
  height: auto;
  margin-bottom: 10px;
  float: left;
  font-size: 16px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

#left-navigation:hover {
  transition: width 0.5s ease, color 0.4s linear 0.15s;
  color: white;
  width: 120px;
}

.menu-item {
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-top: 10px;
}

.menu-item:hover {
  cursor: hand;
  cursor: pointer;
} 

.menu-item span {
  display: inline-block;
  vertical-align: middle;
  line-height: 100px; 
}

#login {
  background: #058ad3;
  margin-bottom: 10px;
}

#home {  
 background: #058ad3;
}

#user-feeds {
  background: #0471ac;
}

#articles {
  background: #035886;
}

#logout {
  background: #023f60;
  margin-bottom: 10px;
}