.nav-actions {
  float: right; 
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 25px;
}

.glyphicon {
  margin-right: 17px;
  font-size: 1.2em;
  color: #FFFFFF;
  letter-spacing: 0.4em;
}

.glyphicon:hover {
 transition: color 0.5s ease;
 color: #0ABAFA;
}

#search {
  font-family: 'Roboto';
  color: black;
  float: right;
  margin-top: 4px;
  margin-right: 8px;
  z-index: 2;
}

#search-input input {
  border: 2px solid #535353;
  box-shadow: inset 0 0 3px grey;
  padding-left: 3px;
}

.tt-dropdown-menu {
  width: 153px;
  //margin-top: 12px;
  padding: 4px 2px;
  background-color: #fff;
  border: 2px solid #535353;
  //border: 1px solid rgba(0, 0, 0, 0.2);
  
  border-radius: 0 0 3px 3px;
  
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.search-title {
  font-weight: 900;
  margin-bottom: 4px;
}

.feed-info {
  font-family: 'Roboto';
  padding-top: 15px;
  margin-left: 15px;
  font-weight: 300;
}

.feed-title {
  font-size: 16px;
}

.feed-info > span {
  margin-right: 10px;
}

.feed-info > div.inline {
  display: inline;
  float: left;
}

#navigation {
  color: #fcfcfc;
  background-color: #252525;
  border-bottom: 1px solid #323232;
  position: fixed;
  z-index: 2;
  width: 100%;
}

#navigation:hover {
  transition: background-color 0.5s ease, border 0.5s ease, color 0.5s ease;
  background-color: #323232;
  color: #ffffff;
  border-bottom: 1px solid #535353;
}