.nav-actions {
 float: right; 
 padding-top: 15px;
 padding-bottom: 15px;
 margin-right: 25px;
}

.glyphicon {
  margin-right: 17px;
  font-size: 1.2em;
  color: #FFFFFF;
  letter-spacing: 0.4em;
}

.glyphicon:hover {
 transition: color 0.5s ease;
 color: #0ABAFA;
}

.feed-info {
  font-family: 'Roboto';
  padding-top: 15px;
  margin-left: 15px;
  font-weight: 300;
}

.feed-title {
  font-size: 16px;
}

.feed-info > span {
  margin-right: 10px;
}

.feed-info > div.inline {
  display: inline;
  float: left;
}

#navigation {
  color: #FFFFFF;
  background-color: #0597e6;
  border-bottom: 1px solid #0485b4;
  position: fixed;
  z-index: 2;
  width: 100%;
}

#navigation:hover {
  transition: background-color 0.5s ease;
  background-color: #0aa6fa;
}