.sources {
  font-weight: 400;
  color: #FFFFFF;
  line-height: 125%;
  letter-spacing: 0.005em;
  padding-top: 50px;
}

.source-wrapper {
  font-size: 24px;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color:rgba(0,0,0,0.15);
  cursor: hand;
  cursor: pointer;
}

#feeds {
  overflow: hidden;
  margin-left: -20px;
  border-left: 1px solid #049BD1;
  width: 100%;
}



//.category-wrapper:hover {
//  cursor: hand;
//  cursor: pointer;
//}

.source-wrapper:hover {
  transition: background-color 0.5s ease;
  background-color: rgba(0,0,0,0.00);
  //transition: color 0.5s ease;
  //color: rgba(0,0,0,0.0);
}

.source-item {
  padding-left: 0px;
  padding-right: 0px;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  height: 280px;
  width: 280px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 200;
  
  border-bottom: 1px solid #049BD1;
  border-right: 1px solid #049BD1;
  
  list-style-type: none;
}

.source-title {
  margin-top: 8px;
  margin-left: 6px;
  font-size: 18px;
  font-weight: 300;
  line-height: 125%;
  letter-spacing: 0.005em;
  width: 60%;
  padding: 5px;
}