<div id="left-bar">
  <div class="menu-item" id="home">
    <span>Home</span>
  </div>
  <div class="menu-item" id="login">
    <span>Sign in</span>
  </div>
  <div class="menu-item" id="prev-page">
    <span>Back</span>
  </div>
</div>