<div id="left-bar">
  <div id="user-controls">
    <div id="home">
      
    </div>
    <div id="saved">
      
    </div>
    <div id="add">
      
    </div>
  </div>
  
  <div id="user-feeds">
    <div id="all">
      
    </div>
  </div>
</div>