<div id="left-bar">
  <div class="menu-item" id="home">
    <span>Home</span>
  </div>
  <div class="menu-item" id="user-feeds">
    <span>Feeds</span>
  </div>
  <div class="menu-item" id="articles">
    <span>Articles</span>
  </div>
  <div class="menu-item" id="logout">
    <span>Sign out</span>
  </div>
</div>