<div id="left-bar">
  <div class="menu-item" id="home">
    <span>Home</span>
  </div>
  <div class="menu-item" id="saved">
    <span>Saved</span>
  </div>
  <div class="menu-item" id="add">
    <span>Add</span>
  </div>
  <div class="menu-item" id="all">
    <span>All stuff</span>
  </div>
</div>