<form>
    
  <label for="email">Email</label>
  <input type="text" name="email" id="email">
  
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  
  <input id="submit-modal" class="btn btn-success btn-xs" type="submit" value="Login">
</form>