<div class="nav-actions">
    <span class="glyphicon glyphicon-ok"></span>
    <span class="glyphicon glyphicon-repeat"></span>
    <span class="glyphicon glyphicon-chevron-up"></span>
</div>
<div id="search">
  <form class="navbar-form navbar-left" role="search for feeds">
    <div id="search-input">
      <input class="typeahead" type="text" placeholder="search feeds">
    </div>
  </form>
</div>
<div class="feed-info">
  <span class="feed-title"><%= title %></span>
  
  <span><%= count %></span>
</div>
