<div class="nav-actions">
  <a href="#">
    <span class="glyphicon glyphicon-ok"></span>
  </a>
  <a href="#">
    <span class="glyphicon glyphicon-repeat"></span>
  </a>
  <a href="#">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
</div>
<div class="feed-info">
  <span><strong><%= feed.escape('title') %></strong></span>
  <span> | </span>
  <span><%= feed.entries().models.length %> articles</span>
</div>
