<div class="nav-actions">
    <span class="glyphicon glyphicon-ok"></span>
    <span class="glyphicon glyphicon-repeat"></span>
    <span class="glyphicon glyphicon-chevron-up"></span>
</div>
<div class="feed-info">
  <span class="feed-title"><%= feed.escape('title') %></span>
  <span> | </span>
  <span><%= feed.entries().models.length %> articles</span>
</div>
